<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>

<body>
<h1>Thanks for signing up for Rant.ly, <%= @user.first_name %></h1>

<p>
  Please confirm your account to log in: <%= url_for(host: @url, controller: 'users', action: 'account_confirmation', params: {token: @token}) %>
</p>

<p>Thanks,</p>
<p>Rantly</p>
</body>

</html>