
<div class="flash">
  <%= flash[:notice] if flash[:notice] %>
</div>

<div class="jumbotron">
  <div class="container">
    <h1>Rantly</h1>
    <p>Rantly has allowed a certain freedom I never thought possible. Now I can rant to the internet
      at large, without having to worry about my thoughts. I just type it out, hit click, and feel the surge
      of relief. Thanks Rantly, you've truly made my most inane rants heard. I remember a time when I wasn't
      able to truly express myself. It's really frustrating when you want to be heard and no one...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign up now »</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Rant it loud.</h2>

    </div>
    <div class="col-md-4">
      <h2>Rant it proud.</h2>

    </div>
    <div class="col-md-4">
      <h2>Rant it now.</h2>

    </div>
  </div>
