#wrapper {
  display: flex;
  background: dimgrey;
  padding: 10rem;
}

p {
  color: white;
  flex: 1 1 auto;
}

.gray {
  background-color: grey;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  & > * {
    padding: 2rem;
  }
}

.logo {
  flex: 0 0 10rem;
  font-size: 24pt;
  border-right: solid lawngreen;
}

.middle {
  flex: 1 1 auto;
}

.right {
  flex: 0 0 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  flex: 1 1 auto;
  text-align: center;
  font-size: 20pt;
}

.join {
  flex: 2 1 auto;
  font-size: 24pt;
  background-color: lawngreen;
  text-align: center;
}

.register-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: solid black;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding: .75rem;
  background-color: white;

  .doubles {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: left;
  }

  .row {
    display: flex;
    justify-content: space-between;
    & > * {
      flex: 0 0 45%;
      padding: .25rem;
    }
  }

  .bio {
    display: flex;
  }

  .bio-box {
    display: flex;
    padding-bottom: .5rem;
  }

  #user_bio {
    width: 100%;
  }

  .time {
    display: flex;
    padding-bottom: .5rem;
  }

  .frequency {
    display: flex;
    justify-content: space-around;
    padding-bottom: .5rem;
  }
}

.login-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  border: solid black;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  padding: .75rem;
  background-color: white;

  .username {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: left;
  }

  .password {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    text-align: left;
  }

  #user_username {
    width: 100%;
  }

  #user_password {
    width: 100%;
    margin-bottom: 1rem
  }
}

.text-field {
  padding-bottom: .5rem;
  width: 100%;
}

.button {
  display: flex;
  text-align: center;
  font-size: 24pt;
  width: 100%;
  height: 60px;
  background-color: lawngreen;
  border: solid black;

}

.flash {
  padding: 1em;
  color: green;
  display: inline;
  margin: auto;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.rant-input-left {
  flex: 1 1 auto;
  background-color: gray;
  text-align: center;
}

.latest-rants {
  flex: 2 1 auto;
  background-color: white;
  text-align: center;
}

header {
  background: black;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

main {
  .container {
    background: white;
  }
}

h3 {

  font-size: 50px;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}

h5 {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  background-color: gray;
}

img {
  //  float: left;
}

.about {
  border-top: solid white;
  padding-top: 1rem;
}

.user {
  padding: .5rem;
}
